body{
    
    background-color:bisque;
    
}



.container {
	
    text-align: center;
}


h3 {
    
    text-align: center;
}


.intro {
    
    height: 150px;
    width: 200px;
    margin: auto auto 10px auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 11px;
    background-color: aquamarine;
    padding: 5px 5px;
    border: 1px solid #155;
    
}



#consignes span {
    display: block;
    text-align: center;
}


#regles {
    display: block;
}




#players {
    display: flex;
    flex-direction:row;
    align-content: space-around;
    align-items:center;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
    
}


.joueur, .ordi {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}



.joueur{
    background-color: brown;
    text-align: center;
}


.ordi{
    margin-left: 20px;
    background-color: coral;
    text-align: center;
}

#choix-ordi {
    border-radius: 3px;
    background-color: white;
}


#wins-ordi {
	
    display: block;
    
}

#action {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
    
}
.go, .tour {
	
    height: 150px;
    width: 300px;
    border: 1px solid #125;
    border-radius: 10px;
    padding: 5px;
    text-align: center;    
}

.tour {
    margin-left: 20px;
}

.tour p {
	   
    display: block;
    
}


#rt-tour {
	
    display: block;
    
}




button { 
    
    display: inline-block;
    
    /* style par défault : taille-police-couleur-aligenement */
    font-family: sans-serif;
    font-size: 20px;
    width: 75px;
    height: 43px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    color:darkred;
    background-color:antiquewhite;
    
    /* dégradé 
    background: linear-gradient (#555, #2C2C2C);
    */
    
    
    /* coins arrondis */
    border-radius: 55px;
    
    /* effets de lumière
    text-shadow: 0px 1px 0px rgba (255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
    */
} 


button:hover { /* le joueur passe la souris sur le bouton => éclaircir le dégradé */ 
    
     background-color:crimson;
     background: #955;
     background: linear-gradient( #999, #797);

}

button:active { /* le joueur clique sur le boutton => simulation état enfoncé */ 
    
     color: #000;
     background: #444;
     background: linear-gradient( #555, #2C2C2C);
     box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4);
    
}

